[submodule "Submodules/OpenWatch-iOS"]
	path = Submodules/OpenWatch-iOS
	url = git@github.com:OpenWatch/OpenWatch-iOS.git
[submodule "Submodules/QuickDialog"]
	path = Submodules/QuickDialog
	url = git://github.com/escoz/QuickDialog.git
